div#formCategorias{
    float: right;
/*    padding-left: 10px;*/
}
/*div#formUsuarios{
    padding-top: 10px;
}
div#formEntradas{
    padding-top: 10px;
}
div#formComentarios{
    padding-top: 10px;
}*/
.form {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.form fieldset {
    padding: 15px;
}