/* Creo un tipo de botón personalizado */
.boton{
    width: 100px;
    margin:2px 0;
    background: -webkit-linear-gradient(left, #CAE646, #FFFFFF, #CAE646);
    background: -moz-linear-gradient(left, #CAE646, #FFFFFF, #CAE646);
    background: -o-linear-gradient(left, #CAE646, #FFFFFF, #CAE646);
    background: linear-gradient(left, #CAE646, #FFFFFF, #CAE646);
    background-color: #CAE646;
    -moz-opacity: 0.75;
    opacity: 0.75;
    filter: alpha(opacity=75);
    -moz-border-radius: 5px;
    border: 2px solid #0016b0;
    -webkit-border-radius: 5px;
    font-weight: bolder;
}

.estiloBoton{
    opacity: 0.75;
    background-color: #CAE646;
    margin: 3px 0;
    padding: 5px;
    text-decoration: none;
    padding-left: 0px;
    font-weight: bolder;
    color: #000000;
    background: -moz-linear-gradient(left, #CAE646, #FFFFFF, #CAE646);
    padding-left: 0px;
    border: 2px solid #0016b0;
}

.estiloBoton2{
    opacity: 0.75;
    background-color: #CAE646;
    margin: 3px 0;
    text-decoration: none;
    padding-left: 0px;
    font-weight: bolder;
    color: #000000;
    background: -moz-linear-gradient(left, #CAE646, #FFFFFF, #CAE646);
    padding-left: 0px;
    border: 2px solid #0016b0;
}

#divBotonesLogin{
    width: 350px;
}

/* Estado del botón cuando nos situamos sobre él */
.boton:hover{
    cursor: pointer;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    background: -webkit-linear-gradient(left, #FFFFFF, #CAE646, #FFFFFF);
    background: -moz-linear-gradient(left, #FFFFFF, #CAE646, #FFFFFF);
    background: -o-linear-gradient(left, #FFFFFF, #CAE646, #FFFFFF);
    background: linear-gradient(left, #FFFFFF, #CAE646, #FFFFFF);
    background-color: #CAE646;
}
/* Redondeamos las esquinas y le aplicamos un gradiente oblícuo a la pantalla de login*/
fieldset{
    background: -webkit-linear-gradient(left top, #e1f0ff, #fff, #e1f0ff);
    background: -moz-linear-gradient(left top, #e1f0ff, #fff, #e1f0ff);
    background: -o-linear-gradient(left top, #e1f0ff, #fff, #e1f0ff);
    background: linear-gradient(left top, #e1f0ff, #fff, #e1f0ff);
    background-color: #e1f0ff;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
}
/* Modificamos la letra del título para el formulario del login*/
legend{
    color: #0b0b79;
    font-style: italic;
    font-weight: bolder;
}
.error {
    font-family: Verdana, Arial, sans-serif; 
    font-size: 0.7em;
    color: #900;
    background-color : #ffff00;
}

.divisor {
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

#login fieldset {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 230px;
    margin-left: -115px;
    height: 160px;
    margin-top: -80px;
    padding:10px;
    border:1px solid #ccc;
    background-color: #eee;
}

#login legend {
    font-family : Arial, sans-serif;
    font-size: 1.3em;
    font-weight:bold;
    color:#333;
}

#login .campo {
    margin-top:8px;
    margin-bottom: 10px;
}

#login label {
    font-family : Arial, sans-serif;
    font-size:0.8em;
    font-weight: bold;
}


#login input[type="text"], #login input[type="password"] {
    font-family : Arial, Verdana, sans-serif;
    font-size: 0.8em;
    line-height:140%;
    color : #000; 
    padding : 3px; 
    border : 1px solid #78eb41;
    height:18px;
    width: 320px;
    background-color: #caf79d;
}

#login input[type="submit"] {
    width:100px;
    height:30px;
    padding-left:0px;
}

.pagproductos body, .pagcesta body  {
    font: 100% Verdana, Arial, Helvetica, sans-serif;
    background: #666;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
}

/* Aplicamos un gradiente oblícuo al fondo del contenedor */
#contenedor { 
    width: 90%;
    margin: 0 auto;
    background: -webkit-linear-gradient(left top, #e1f0ff, #fff, #e1f0ff);
    background: -moz-linear-gradient(left top, #e1f0ff, #fff, #e1f0ff);
    background: -o-linear-gradient(left top, #e1f0ff, #fff, #e1f0ff);
    background: linear-gradient(left top, #e1f0ff, #fff, #e1f0ff);
    background-color: #e1f0ff;
    text-align: left;
} 

/* Redondeamos las esquinas superiores de la cabecera y aplicamos un gradiente
  lineal desde la parte superior*/
#encabezado {
    padding: 10px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    background: -webkit-linear-gradient(top, #9cf, #fff, #9cf);
    background: -moz-linear-gradient(top, #9cf, #fff, #9cf);
    background: -o-linear-gradient(top, #9cf, #fff, #9cf);
    background: linear-gradient(top, #9cf, #fff, #9cf);
    background-color: #9cf;
} 

/* Cambiamos la fuente para el título de los encabezados */
#encabezado h1 {
    margin: 0; 
    padding: 10px 0;
    color: #0b0b79;
    font-style: italic;
    font-weight: bolder;
}

/* Redondeamos la esquina inferior izquierda y aplicamos un gradiente lineal desde
  su parte superior al recuadro de la cesta en el listado de productos */
.pagproductos #cesta {
    float: right;
    width: 12em;
    padding: 0px 0px 10px 0px;
    -moz-border-radius: 0px 0px 0px 10px;
    border-radius: 0px 0px 0px 10px;
    -webkit-border-radius: 0px 0px 0px 10px;
    background: -webkit-linear-gradient(left, #588, #fff, #588);
    background: -moz-linear-gradient(left, #588, #fff, #588);
    background: -o-linear-gradient(left, #588, #fff, #588);
    background: linear-gradient(left, #588, #fff, #588);
    background-color: #588;
}
.pagproductos #cesta h3 {
    margin-left: 10px;
    margin-right: 10px;
}
.pagproductos #cesta p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
}

.pagproductos #cesta input[type="submit"] {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 3px;
    width:100px;
    height:30px;
    padding-left:0px;
}

.pagproductos #productos {
    margin: 0 10em 0 10px;
} 

.pagcesta #productos {
    margin: 10px;
    font-size: 12px;
} 

.pagproductos #productos input, .pagproductos #productos p {
    font-size: 10px;
}

/* Ponemos el margen de los párrafos para las características de los ordenadores */
.ordenador {
    margin: 0 10px;
}

/* Posiciones de los botones, para situarlos a la izquierda y a la derecha */
.izq{
    float: left;
    margin-left: 10px;
    position: relative;
    width: 100px;
}
.dch{
    float: right;
    margin-right: 10px;
    position: relative;
    width: 100px;
}

#productos .codigo {
    width: 20%;
    float: left;
} 

#productos .nombre {
    width: 60%;
    float: left;
} 

#productos .precio {
    width: 20%;
    text-align: right;
    font-weight: bold;
}

/* Para marcar las líneas del listado de los productos cuando no situamos sobre ellas */
#productos form:hover{
    background-color: #b0f898;
}

/* Le redondeamos las esquinas inferiores y le aplicamos un gradiente lineal al pie */
#pie {
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    background: -webkit-linear-gradient(top, #9cf, #fff, #9cf);
    background: -moz-linear-gradient(top, #9cf, #fff, #9cf);
    background: -o-linear-gradient(top, #9cf, #fff, #9cf);
    background: linear-gradient(top, #9cf, #fff, #9cf);
    background-color: #9cf;
    padding: 0 10px;
} 
